.main_chat
  .main_chat__info
    .main_chat__info__box
      .main_chat__info__box__group-name
        = @group.name
        .main_chat__info__box__edit
          = link_to edit_group_path(@group), class: "edit-btn" do
            Edit
      .main_chat__info__box__menber-name
        Menber:
        - @group.users.each do |user|
          = user.name
  .main_chat__message
    = render @messages
    .main_chat__message__box
      .main_chat__message__box__name
        .main_chat__message__box__name__login-time
      .main_chat__message__box__comment
  .main_chat__form
    = form_with model: [@group, @message], html: {class: "main_chat__form__box"}, local: true do |f|
      .main_chat__form__box__input
        = f.text_field :content, class: 'class-name__text', placeholder: "type a message"
        = f.label :image, class: 'class-name__text__icon' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'class-name__text__icon__label'
      = f.submit 'Send', class: 'class-name__submit'
            